@import "tailwindcss";

:root {
  --grey75: #BFBFBF;
  --black6: #0F0F0F;
  --black10: #1A1A1A;
  --black12: #1F1F1F;
  --dark-grey: #141414;
  --med-grey: #999999;
  --call-to-action-red: #E50000;
}

@theme inline {
  --color-grey-75: var(--grey75);
  --color-black-6: var(--black6);
  --color-black-10: var(--black10);
  --color-black-12: var(--black12);
  --color-med-grey: var(--med-grey);
  --color-dark-grey: var(--dark-grey);
  --color-cta-red: var(--call-to-action-red);
}

body {
  background: var(--dark-grey);
  font-family: Arial, Helvetica, sans-serif;
}

header nav li {
  padding: 10px 24px;
  color: var(--grey75);
}

header nav li.selected {
  color: #ffffff;
  border-radius: 8px;
  background-color: var(--black10);
}

/* Custom Classes */
.header-nav-item {
  @apply font-normal transition-all duration-200 hover:bg-black-6;
}

.header-nav-item.selected {
  @apply font-bold;
}

.hero-image {
  background-image: url('../public/hero.png');
  @apply h-screen bg-cover bg-center flex items-center justify-center text-white;
}

.start-trial-block {
  background-image: url('../public/footer-trial.png');
  @apply bg-cover bg-center flex items-center justify-center w-full h-full;
}